/* GLOBAL AND MOBILE STYLES FIRST */

body {
  margin:0;
  padding:0;
  background: #222;
  color: #fff;
  text-align: center;
}
header {
  background: #ccc;
  color: #444;
}
nav {
  background: #aaa;
  display: none;
}
nav a {
  padding: 1em;
  display: block;
}
#menu {
  padding: 1em;
  background: #fff;
  display: block;
}
.show-menu {
  display: block;
}
a {
  color: #000;
  text-decoration: none;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}
main {
  background: #eee;
  padding: .5em;
}
section {
  background: #888;
}

.homeimage{
width:100%;
float:left;
}
#bit{
	width:20%;
	margin-left:0%;
	margin-top:0%;
}
  .column1 {
    float: left;
    width: 20%;
    padding: 20px;
    height: 300px; 
	position:relative;
}
/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}
.p1{
	width:60%;
	margin-left:20%;
	
}
.p2{
	width:60%;
	margin-left:20%;
}
.p3{
	width:50%;
	margin-left:20%;
	
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
#jsshowhide p {
  display: none;
}
#jsshowhide ul {
  display: none;
}
#jsshowhide h3 {
  cursor: pointer;
  display: inline;
}

.plus {
  display: inline;
}
.minus {
  display: none;
}
.college1{
	width:23%;
}
.college2{
	width:23%;
	
}
.college3{
	width:23%;
	height:65px;

}
.mySlides {
	display:none;
	height:200px;
	margin-left:0%;
	width:180%;
	
	
	}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-left {
	margin-left:10%;
	/* margin-top:-10%; */
	color:black;
	
	}
	.w3-right {
	margin-left:100%;
	margin-top:-10%;
	color:black;
	
	}
.w3-badge {height:13px;width:13px;padding:0}
.regentcollege{
	margin-left:60%;
	margin-top:0%;
	width:30%;
}
.dmu{
	width:30%;
	margin-left:15%;
}
.top {
  display: block;
  text-align: right;
  line-height: 1.75em;
  padding-right: 0.5em;
}
.top:hover {
  background: rgba(200,200,200,0.96);
  color: #fff;
}
figure {
  float:left;
    width: 100px;
	height: 100px;
	background-repeat: no-repeat;
    background-size: 50px 30px;
	position:inline-block;
	margin-left:5%;
	padding-top:4%;
}

figure img {
  width: 90%;
  height: 100px;
  background: #eee;
  margin-bottom: -4em;
  display: inline-block;
}

figcaption {
     box-sizing: border-box;
    height: 1.8em;
    line-height: 1.2em;
    padding: .25em;
    transform: translateY(5em);
    opacity: 0.78;
    transition: all .5s;
    text-align:center;
	font-size:0.7em;
}


figure:hover figcaption {
  transform: translateY(0em);
 
  opacity: .78;
}
.fav{
	width:100%;
	height:400px;
}
.button{
	margin-left:70%;
	margin-top:5%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	
	
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    
    padding: 20px;
}

footer{
font-size: 1.5em;	
}


/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
  header {
    background: #444;
    color: #ccc;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: #777;
  }
  h1 {
    font-size: 2em;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  section {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    background: #444;
    color: #999;
  }

  .column1 {
    float: left;
    width: 27%;
    padding: 20px;
    height: 300px; 
	position:relative;
}
#bit{
	width:10%;
	margin-left:0%;
	margin-top:0%;
}
.p1{
	width:60%;
	margin-left:20%;
	
}
.p2{
	width:65%;
	margin-left:20%;

	
}
.p3{
	width:60%;
	margin-left:20%;
	
}
.mySlides {
	display:none;
	width:200%;
	height:200px;
	margin-left:55%;
	
	}
	.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-left {
	margin-left:10%;

	color:white;
	
	}
	.w3-right {
	margin-left:250%;
	margin-top:-10%;
	color:white;
	}
	.college3{
	width:23%;
	height:115px;

}
figure {
  float:left;
    width: 90px;
	height: 100px;
	background-repeat: no-repeat;
    background-size: 50px 30px;
	position:inline-block;
	margin-left:5%;
	padding-top:9%;
}


figcaption {
     box-sizing: border-box;
    height: 1.8em;
    line-height: 1.2em;
    padding: .25em;
    transform: translateY(5em);
    opacity: 0.78;
    transition: all .5s;
    text-align:center;
	font-size:0.7em;
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	float:center;
	margin-left:-20%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}
.button{
margin-top:-0%;
margin-left:20%;
	
}
	
	
	
}
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  header {
    background: #222;
    color: #ccc;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  section {
    width: 90%;
    margin: 1em 1% 1em 1%;
    background: #222;
    border-color: #666;
    font-size: 1.2em;
  }
  .column1 {
    float: left;
    width: 27%;
    padding: 20px;
    height: 300px; 
	position:relative;
}
.p1{
	width:40%;
	margin-left:20%;
	
}
.p2{
	width:50%;
	margin-left:20%;

	
}
.p3{
	width:35%;
	margin-left:20%;
	
}
.mySlides {
	display:none;
	width:200%;
	height:200px;
	margin-left:220%;
	
	}
	.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-left {
	margin-left:220%;
	color:white;
	
	}
	.w3-right {
	margin-left:410%;
	margin-top:-15%;
	color:white;
	
}

#jsshowhide{
	
}
.college3{
	width:23%;
	height:160px;

}
.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; 
	position:relative;
	color:white;
}
.dmu{
	width:30%;
	margin-left:0%;
}

.regentcollege{
	width:30%;
	margin-left:0%;
}
.top {
  display: block;
  text-align: right;
  line-height: 1.75em;
  padding-right: 0.5em;
  color:white;
}
figure {
  float:left;
  
    width: 200px;
	height: 100px;
	background-repeat: no-repeat;
    background-size: 50px 30px;
	padding-top:1%;
}

figure img {
  width: 100%;
  height: 250px;
  background: #eee;
  margin-bottom: -4em;
  display: inline-block;
}

figcaption {
  box-sizing: border-box;
  height: 7em;
  line-height: 1.2em;
  padding: .15em;
  transform: translateY(2em);
  background: black;
  opacity: 0;
  transition: all .5s;
}


figure:hover figcaption {
  transform: translateY(0em);

  opacity: .78;
}
.fav{
	width:100%;
	height:400px;
}
	.college3{
	width:23%;
	height:235px;
}
input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	float:center;
	margin-left:-20%;
}
input[type=text], select, textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}
.button{
margin-top:-0%;
margin-left:20%;
	
}


}
/* END SECOND BREAKPOINT */
