
body {
	background:white;
	margin-left:10em;
	margin-right:15em;
	}
ul.topnav {
  list-style-type: none;
 
  padding: 0;
  overflow: hidden;
  background-color:#000000;

  margin-top:0%;


}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #b3ffb3;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}


#title{
	margin-top:0px;
	width:50%;
	
}
#bit{
	width:30%;
	margin-left:85%;
	margin-top:0%;
	
}
#flag{
	width:20%;
	margin-left:25%;
	margin-top:2%;
}
#france{
	width:18%;
	margin-left:25%;
	margin-top:8%;
}

#england{
	width:20%;
	margin-left:25%;
	margin-top: 10%;
}



h1{
	color:black;
	font-family:Times New Roman;
	font-size:20px;
	margin-left:550px;
	margin-top:100px;
}
#txtpak{
	border: 3px solid black;
    padding: 10px 10px;
    background: white;
    width: 300px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin: auto;
	margin-left:50%;
	margin-top:-15%;
}

#txtfrance
{
	border: 3px solid black;
    padding: 10px 10px;
    background: white;
    width: 300px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin: auto;
	margin-left:50%;
	margin-top:-15%;
}
#txtengland{
	border: 3px solid black;
    padding: 10px 10px;
    background: white;
    width: 300px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin: auto;
	margin-left:50%;
	margin-top:-10%;
	
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
#jsshowhide p {
  display: none;
}
#jsshowhide ul {
  display: none;
}
#jsshowhide h3 {
  cursor: pointer;
  display: inline;
}

.plus {
  display: inline;
}
.minus {
  display: none;
}
.mySlides {
	display:none;
	width:200%;
	height:200px;
	
	}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-left {
	margin-left:0;
	
	}
	.w3-right {
	margin-left:20%;
	margin-top:-10%;
	
	}
.w3-badge {height:13px;width:13px;padding:0}

.college1{
	width:23%;
}
.college2{
	width:23%;
	margin-left:10%;
}



@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
	body{
		margin:2%;
		width:100%;
	}
#flag{
	width:70%;
	margin-left:2%;
	margin-top:-4%;
}
#france{
	width:68%;
	margin-left:2%;
	margin-top:5%;
}

#england{
	width:70%;
	margin-left:2%;
	margin-top: 8%;
}
#txtpak{
	border: 3px solid black;
    padding: 10px 10px;
    background: white;
    width: 300px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin: auto;
	margin-left:2%;

}

#txtfrance
{
	border: 3px solid black;
    padding: 10px 10px;
    background: white;
    width: 300px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin: auto;
	margin-left:2%;

}
#txtengland{
	border: 3px solid black;
    padding: 10px 10px;
    background: white;
    width: 300px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin: auto;
	margin-left:2%;
}

#bit{
	width:100%;
	margin-left:43%;
	margin-top:0%;
	
}

    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
}
  ul.topnav.responsive li {
    float: none;
    display: inline;
 }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
 }
  

}