
body {
	background:white;
	margin-left:10em;
	margin-right:15em;
	}
ul.topnav {
  list-style-type: none;
 
  padding: 0;
  overflow: hidden;
  background-color:#000000;

  margin-top:0%;


}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #b3ffb3;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}


#title{
	margin-top:0px;
	width:50%;
	
}
#bit{
	width:50%;
	margin-left:85%;
	margin-top:0%;
	
}



h1{
	color:black;
	font-family:Times New Roman;
	font-size:20px;
	margin-left:550px;
	margin-top:100px;
}
footer{
	padding-top:1%;
	padding-bottom:1%;
	margin-top:2%;
	bottom:0;
	background-color:black;
	color:white;
	text-align:center;
	position:relative;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
#jsshowhide p {
  display: none;
}
#jsshowhide ul {
  display: none;
}
#jsshowhide h3 {
  cursor: pointer;
  display: inline;
}

.plus {
  display: inline;
}
.minus {
  display: none;
}
.mySlides {
	display:none;
	width:200%;
	height:200px;
	margin-left:20%;
	
	}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-left {
	margin-left:20%;
	
	}
	.w3-right {
	margin-left:212%;
	margin-top:-10%;
	
	}
.w3-badge {height:13px;width:13px;padding:0}



.college2{
	width:20%;
	margin-left:5%;
	height:170px;
}
.college1{
	width:20%;

	height:170px;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
	position:relative;
	color:black;
}
* {
    box-sizing: border-box;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.homeimage{
width:100%;
float:left;
}
.p1{
	width:40%;
	
}
.p2{
	width:50%;
	
}
.p3{
	width:35%;
	
}
.regentcollege{
	margin-left:60%;
	margin-top:-10%;
	width:30%;
}
.dmu{
	width:50%;
	margin-left:300%;
	margin-top:-30%;
}

/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 33.3%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
	position:relative;
}

/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
	body{
		margin:2%;
		width:100%;
	}

#bit{
	width:100%;
	margin-left:43%;
	margin-top:0%;
	
}

    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
}
  ul.topnav.responsive li {
    float: none;
    display: inline;
 }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
 }
  

}